@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.logo-circle {
    transition: transform .7s ease-in-out;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.logo-circle:hover {
    transform: rotate(360deg);
}


#back-to-top {
    border-radius: 25px;
    background-color: white;
}

#back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    background: none;
    animation-duration: 1s;
    z-index: 9;
}


/*Style général*/
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

.separator_white {
    height: 80px;
}

.mini_separator_white {
    height: 40px;
}

div.card img {
    height: 190px;
}

.title_produit {
    text-align: center;
}

.block {
    display: block;
}

.border-card {
    border-radius: 5% 5% 5% 5%;
}

.border-card3 {
    border-radius: 5% 5% 5% 5%;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.border-img {
    border-radius: 5% 5% 0 0;
}

.price {
    text-align: center;
}

.width300 {
    width: 300px;
}

.font30 {
    font-size: 30px;
}

.font40 {
    font-size: 40px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin: auto;
    color: #232C33;
    overflow-x: auto;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125)
}

.list-group-item-ul {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}


.list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}


.list-group-item.list-group-item-secondary {
    font-size: 35px;
    list-style: none;
    color: #383d41;
    background-color: #d6d8db;
}

.font50 {
    font-size: 50px;
}

.red {
    color: red;
}

a .btn .btn-primary .block {
    margin-top: 10px;
}

span.help-inline {
    color: red;
}

h2 + input {
    margin-top: 20px;
}

h3 {
    font-family: "Quicksand", sans-serif;
}

button + p {
    margin-top: 20px;
}

form + div {
    margin-top: 75px;
}

nav + form {
    margin-top: 40px;
}

h2 {
    margin-top: 50px;
}

table {
    margin-top: 50px;
}

ul {
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

/*Fin style général*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Login*/
.bg {
    background: rgb(34, 70, 139);
    background: linear-gradient(162deg, rgba(34, 70, 139, 1) 10%, rgba(42, 88, 171, 1) 43%, rgba(40, 190, 196, 1) 84%);
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row,
.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.login-form {
    margin-top: 40px;
}

.card-top {
    margin-top: 150px;
}

.card-header {
    text-align: center;
    font-size: 30px;
}

.card-height {
    height: auto;
}

.blur {
    background-size: cover;
    overflow: hidden;
    filter: blur(4px);
    position: absolute;
    top: -7px;
    left: 5px;
    right: 5px;
    bottom: -8px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
}

form[data-type="login-form"] .form-control, form[data-type="register-form"] .form-control {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 2px;
    border-radius: 0;
    transition: 0.55s;
}

form[data-type="login-form"] .form-control:hover, form[data-type="register-form"] .form-control:hover {
    transition: 0.55s;
    border-bottom-color: #007bff;
}

form .btn {
    border-radius: 25px;
    background-color: #007bff;
    color: white;
}

form[data-type="login-form"], form[data-type="register-form"] {
    font-family: "Quicksand", sans-serif;
}

form .btn > i#turn {
    transition: 0.55s;
    transform: rotate(0deg);
}

form .btn:hover > i#turn {
    transition: 0.55s;
    transform: rotate(360deg);
}

form[data-type="login-form"] div input, form[data-type="login-form"] div select,
form[data-type="register-form"] div input, form[data-type="register-form"] div select {
    animation-name: animSlideFromRight;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.1s;
}

form[data-type="login-form"] div label,
form[data-type="register-form"] div label {
    animation-name: animSlideFromLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

form[data-type="login-form"] div button,
form[data-type="register-form"] div button {
    animation-name: animSlideFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.8s;
}

@keyframes animSlideFromRight {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animSlideFromLeft {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animSlideFromBottom {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*Fin Login*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*NavBar*/
.topnav {
    background: #1b1b1b;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a.active,
nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
    0 0 10px #66ffff;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

.show, .icon, #btn-1, #btn {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

@media all and (max-width: 968px) {
    nav ul {
        float: none;
    }

    .show + a, ul {
        display: none;
    }

    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }

    nav ul ul {
        top: 70px;
        border-top: 0;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul ul a {
        padding-left: 80px;
    }

    nav ul ul ul li {
        position: static;
    }

    [id^=btn]:checked + ul {
        display: block;
    }

}

/*Fin NavBar*/

/*Style bootstrap*/
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.h5, h5 {
    font-size: 1.25rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-group-lg > .btn, .btn-lg {
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    padding: 1rem 1rem 0.5rem;
    margin-top: 0.5rem;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}

.text-md-center {
    text-align: center !important
}

.text-nowrap {
    background-color: transparent;
!important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-group {
    margin-bottom: 1rem
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.mt-1, .my-1 {
    margin-top: .25rem !important
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}

.text-md-right {
    text-align: right !important
}

.table {
    margin-bottom: 1rem;
    color: #212529;
    position: absolute;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}

.table-bordered {
    border: 1px solid #dee2e6;
    width: 100%
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px
}

.table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.form-actions {
    padding-top: 1rem;
}