@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Style général */

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body, html {
     height: 100%;
}
a .bouton{
    margin-top: 10px;
}
h2 + input {
    margin-top: 20px;
}
button + p {
    margin-top: 20px;
}
form + div {
    margin-top: 75px;
}
menu + form {
    margin-top: 40px;
}
h2 {
    margin-top: 50px;
}
table {
    margin-top: 50px;
}
ul {
    margin-bottom: 0 !important;
}
p {
    margin-bottom: 0;
    margin-top: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
h5 {
    font-size: 1.25rem;
}
a:hover {
    text-decoration: none;
}
.separator_white {
    height: 80px;
}
.mini_separator_white {
    height: 40px;
}
.logo-circle {
    transition: transform .7s ease-in-out;
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    margin-left: 2rem;
}
.logo-circle:hover {
    transform: rotate(360deg);
}
#back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    color: black;
    border-radius: 25px;
    animation-duration: 1s;
    z-index: 9;
}
.font30 {
    font-size: 30px;
}
.font40 {
    font-size: 40px;
}
.font50 {
    font-size: 50px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin: auto;
    color: #232C33;
    overflow-x: auto;
}
.list-group-item-ul {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}
.list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}
.list-group-item.list-group-item-secondary {
    font-size: 35px;
    list-style: none;
    color: #383d41;
    background-color: #d6d8db;
}
.red {
    color: red;
}
.bold {
    font-weight: bold;
}
.modal-footer {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}
.conteneur {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ligne {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.colonne-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.text-center {
    text-align: center !important;
}
.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.margin-top-1{
    margin-top: .25rem !important
}
.margin-top-2 {
    margin-top: 1rem !important;
}
.margin-top-3 {
    margin-top: 2rem !important;
}
.margin-top-5 {
    margin-top: 5rem !important;
}
.margin-bottom-1 {
    margin-bottom: 1rem !important;
}
.margin-bottom-5 {
    margin-bottom: 5rem !important;
}
.padding-bottom-4 {
    padding-bottom: 1.5rem !important;
}
.padding-bottom-5 {
    padding-bottom: 5rem !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}
.card:hover{
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.1),
    0 11px 7px 0 rgba(0, 0, 0, 0.1);
    transform: translate(0, -4px);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: 0.75rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.colonne-4, .colonne-6, .colonne-8, .colonne-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}
.text-nowrap {
    background-color: transparent !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-group {
    margin-bottom: 1rem
}
.form-actions {
    padding-top: 1rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: 15px;
    text-align: center;
}

/* Fin style général */

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Formulaire de Login */

.bg {
    background-image: url("../images/mcu.jpg");
    background-color: #cccccc;
}
.login-form {
    padding-top: 25vh;
}
.register-form {
    padding-top: 10vh;
}
.card-header {
    text-align: center;
    font-size: 30px;
}
.blur {
    background-size: cover;
    overflow: hidden;
    filter: blur(4px);
    position: absolute;
    top: -7px;
    left: 5px;
    right: 5px;
    bottom: -8px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
}
form[data-type="login-form"] .form-control, form[data-type="register-form"] .form-control {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 2px;
    border-radius: 0;
    transition: 0.55s;
}
form[data-type="login-form"] .form-control:hover, form[data-type="register-form"] .form-control:hover {
    transition: 0.55s;
    border-bottom-color: #007bff;
}
form[data-type="login-form"], form[data-type="register-form"] {
    font-family: "Quicksand", sans-serif;
}
form .bouton > i#turn,
a > i#turn {
    transition: 0.55s;
    transform: rotate(0deg);
}
form .bouton:hover > i#turn,
a:hover > i#turn {
    transition: 0.55s;
    transform: rotate(360deg);
}
form[data-type="login-form"] div input, form[data-type="login-form"] div select,
form[data-type="register-form"] div input, form[data-type="register-form"] div select {
    animation-name: animSlideFromRight;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.1s;
}
form[data-type="login-form"] div label,
form[data-type="register-form"] div label {
    animation-name: animSlideFromLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.5s;
}
form[data-type="login-form"] div button,
form[data-type="register-form"] div button {
    animation-name: animSlideFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.8s;
}
@keyframes animSlideFromRight {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animSlideFromLeft {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animSlideFromBottom {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Fin Formulaire de Login */

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Boutons */

.bouton {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.bouton:hover {
    color: #212529;
    text-decoration: none;
}
.bouton-perso-green {
    margin-top: 0;
    background-color: #0ad0a0;
}
.bouton-perso-blue {
    background-color: #007bff;
    border-color: #007bff;
}
.bouton-perso-red {
    color: #fff;
    background-color: #dc3545;
}
.bouton-perso-red-admin {
    color: red;
}
.bouton-admin {
    color: red;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
td .bouton-admin {
    padding: 0;
}
.bouton-group-lg > .bouton, .bouton-lg {
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    padding: 1rem 1rem 0.5rem;
    margin-top: 0.5rem;
}
.bouton-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

/* Fin Boutons */

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Menu */

.topmenu {
    background: black url("../images/marvelImage.jpg") no-repeat center;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
}
menu:after {
    content: '';
    clear: both;
    display: table;
}
menu ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
menu ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}
menu ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
menu ul li a.active,
menu ul li a:hover {
    color: #0ad0a0;
    border-radius: 5px;
    box-shadow: 0 0 5px #0ad0a0,
    0 0 10px #0ad0a0;
}
menu ul ul li a:hover {
    box-shadow: none;
}
menu ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
menu ul ul ul {
    border-top: none;
}
menu ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}
menu ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
menu ul ul li a {
    line-height: 50px;
}
menu ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}
.show, .icon, #bouton-1, #bouton {
    display: none;
}

/* Fin Menu */

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Responsive */

@media (min-width: 576px) {
    .conteneur {
        max-width: 540px;
    }
}
@media screen and (max-width: 600px) {
    table tr {
        margin-bottom: .625em;
    }
    table td {
        font-size: .8em;
    }
    .font11{
        font-size: 11px;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
@media (min-width: 768px) {
    .colonne-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .conteneur {
        max-width: 720px;
    }
}
@media all and (max-width: 968px) {
    menu ul {
        float: none;
    }
    .show + a, ul {
        display: none;
    }
    menu ul li, menu ul ul li {
        display: block;
        width: 100%;
    }
    menu ul li a:hover {
        box-shadow: none;
    }
    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    menu ul ul {
        top: 70px;
        border-top: 0;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    menu ul ul a {
        padding-left: 40px;
    }
    menu ul ul ul a {
        padding-left: 80px;
    }
    menu ul ul ul li {
        position: static;
    }
    [id^=bouton]:checked + ul {
        display: block;
    }
}
@media (min-width: 992px) {
    .conteneur {
        max-width: 960px;
    }
    .form-width-reduct {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    .comment-width-reduct {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media (min-width: 1200px) {
    .conteneur {
        max-width: 1140px;
    }
}

/* Fin Responsive */

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Scrollbar */

body::-webkit-scrollbar {
    width: 1em;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #0AD0A0;
    border-radius: 10px;
}

/* Fin Scrollbar */

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/